<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
  <link rel="icon" href="" type="" sizes="40x40">
  <title>Juniper Lee</title>
</head>

<body>
  <!--checkbox inputs beginning-->
  <input type="checkbox" class="navigation__checkbox navigation__checkbox-about" id="about">
  <input type="checkbox" class="navigation__checkbox navigation__checkbox-services" id="services">
  <input type="checkbox" class="navigation__checkbox navigation__checkbox-work" id="work">
  <input type="checkbox" class="navigation__checkbox navigation__checkbox-clients" id="clients">
  <input type="checkbox" class="navigation__checkbox navigation__checkbox-blog" id="blog">
  <input type="checkbox" class="navigation__checkbox navigation__checkbox-contact" id="contact">
  <!--checkbox inputs ending-->
  <div class="container">
    <!--name label beginning-->
    <div class="name__div" id="name-div">
      <h3 class="name__div-label">juniper lee</h3>
    </div>
    <!--name label ending-->

    <!--menu beginning-->
    <div class="menu">
      <ul class="menu__list">
        <li class="menu__list-item" id="about-btn">
          <a href="#" class="menu__item menu__item-1">about</a>
        </li>
        <li class="menu__list-item" id="services-btn">
          <a href="#" class="menu__item menu__item-2">services</a>
        </li>
        <li class="menu__list-item" id="work-btn">
          <a href="#" class="menu__item menu__item-3">work</a>
        </li>
        <li class="menu__list-item" id="client-btn">
          <a href="#" class="menu__item menu__item-4">clients</a>
        </li>
        <li class="menu__list-item" id="blog-btn">
          <a href="#" class="menu__item menu__item-5">blog</a>
        </li>
        <li class="menu__list-item" id="contact-btn">
          <a href="#" class="menu__item menu__item-6">contact</a>
        </li>
      </ul>
    </div>
    <!--menu ending-->

    <!--mast beginning-->
    <div class="mast">
      <h2 class="mast__header-mini">
        hello there!
      </h2>
      <h1 class="mast__header">
        I are awesome freelancer
      </h1>
    </div>
    <!--mast ending-->

    <!--about section beginning-->
    <div class="about">
      <div class="about__img-div">
        <img src="../img/nice-doggo.jpg" alt="cute-doggo" class="about__headshot">
      </div>
      <h2 class="about__header">Photographer</h2>
      <div class="about__paragraph">
        <p class="about__paragraph-content">
          Cool Fancy Text about yourself is a copy and paste font generator and font changer that creates Twitter, Facebook, Instagram
          fonts. It converts a normal text to different free cool fonts styles.
        </p>
      </div>
      <div class="about__socials">
        <div>
          <svg class="about__socials-icon">
            <use xlink:href="../img/sprite.svg#icon-instagram2"></use>
          </svg>
        </div>

        <div>
          <svg class="about__socials-icon">
            <use xlink:href="../img/sprite.svg#icon-linkedin2"></use>
          </svg>
        </div>
        <div>
          <svg class="about__socials-icon">
            <use xlink:href="../img/sprite.svg#icon-github"></use>
          </svg>
        </div>
        <div>
          <svg class="about__socials-icon">
            <use xlink:href="../img/sprite.svg#icon-twitter2"></use>
          </svg>
        </div>
      </div>
    </div>
    <!--about section ending-->

    <!--skills section beginning-->
    <div class="skills">
      <div class="skills__item">
        <p>people skills</p>
      </div>
      <div class="skills__item">
        <p>dance skills</p>
      </div>
      <div class="skills__item">
        <p>code skills</p>
      </div>
      <div class="skills__item">
        <p>awesome skills</p>
      </div>
      <div class="skills__item">
        <p>writer skills</p>
      </div>
      <div class="skills__item">
        <p>cool skills</p>
      </div>
      <div class="skills__item">
        <p>art skills</p>
      </div>
    </div>
    <!--skills section end-->

    <!--services section beginning-->
    <section class="services">
      <h2 class="services__header">Services</h2>

      <div class="services__item services__item-1">
        <div class="services__item-icondiv">
          <svg class="services__item-icon">
            <use xlink:href="../img/sprite.svg#icon-brush"></use>
          </svg>
        </div>
        <h3 class="services__item-header">
          awesome designs
        </h3>
        <div class="services__item-paragraph">
          <p class="services__item-paragraph__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ab delectus illo, ducimus corporis amet tempora hic praesentium
            obcaecati ipsum quos iste sed! Similique.
          </p>
        </div>
      </div>
      <div class="services__item services__item-2">
        <div class="services__item-icondiv">
          <svg class="services__item-icon">
            <use xlink:href="../img/sprite.svg#icon-chevron-with-circle-up"></use>
          </svg>
        </div>
        <h3 class="services__item-header">
          quick delivery
        </h3>
        <div class="services__item-paragraph">
          <p class="services__item-paragraph__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ab delectus illo, ducimus corporis amet tempora hic praesentium
            obcaecati ipsum quos iste sed! Similique.
          </p>
        </div>
      </div>
      <div class="services__item services__item-3">
        <div class="services__item-icondiv">
          <svg class="services__item-icon">
            <use xlink:href="../img/sprite.svg#icon-area-graph"></use>
          </svg>
        </div>
        <h3 class="services__item-header">
          experienced
        </h3>
        <div class="services__item-paragraph">
          <p class="services__item-paragraph__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ab delectus illo, ducimus corporis amet tempora hic praesentium
            obcaecati ipsum quos iste sed! Similique.
          </p>
        </div>
      </div>
      <div class="services__item services__item-4">
        <div class="services__item-icondiv">
          <svg class="services__item-icon">
            <use xlink:href="../img/sprite.svg#icon-laptop"></use>
          </svg>
        </div>
        <h3 class="services__item-header">
          responsive designs
        </h3>
        <div class="services__item-paragraph">
          <p class="services__item-paragraph__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ab delectus illo, ducimus corporis amet tempora hic praesentium
            obcaecati ipsum quos iste sed! Similique.
          </p>
        </div>
      </div>
      <div class="services__item services__item-5">
        <div class="services__item-icondiv">
          <svg class="services__item-icon">
            <use xlink:href="../img/sprite.svg#icon-thumbs-up"></use>
          </svg>
        </div>
        <h3 class="services__item-header">
          quality
        </h3>
        <div class="services__item-paragraph">
          <p class="services__item-paragraph__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ab delectus illo, ducimus corporis amet tempora hic praesentium
            obcaecati ipsum quos iste sed! Similique.
          </p>
        </div>
      </div>
      <div class="services__item services__item-6">
        <div class="services__item-icondiv">
          <svg class="services__item-icon">
            <use xlink:href="../img/sprite.svg#icon-mobile"></use>
          </svg>
        </div>
        <h3 class="services__item-header">
          support
        </h3>
        <div class="services__item-paragraph">
          <p class="services__item-paragraph__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ab delectus illo, ducimus corporis amet tempora hic praesentium
            obcaecati ipsum quos iste sed! Similique.
          </p>
        </div>
      </div>
      <div class="services__item services__item-7">
        <div class="services__item-icondiv">
          <svg class="services__item-icon">
            <use xlink:href="../img/sprite.svg#icon-chat"></use>
          </svg>
        </div>
        <h3 class="services__item-header">
          fast response
        </h3>
        <div class="services__item-paragraph">
          <p class="services__item-paragraph__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ab delectus illo, ducimus corporis amet tempora hic praesentium
            obcaecati ipsum quos iste sed! Similique.
          </p>
        </div>
      </div>
      <div class="services__item services__item-8">
        <div class="services__item-icondiv">
          <svg class="services__item-icon">
            <use xlink:href="../img/sprite.svg#icon-game-controller"></use>
          </svg>
        </div>
        <h3 class="services__item-header">
          game development
        </h3>
        <div class="services__item-paragraph">
          <p class="services__item-paragraph__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ab delectus illo, ducimus corporis amet tempora hic praesentium
            obcaecati ipsum quos iste sed! Similique.
          </p>
        </div>
      </div>
    </section>
    <!--services section ending-->

    <!--work section beginning-->
    <section class="work">
      <h3 class="work__header">My Work</h3>
      <div class="work__categories">
        <h3 class="work__categories-header work__categories-header1">all</h3>
        <h3 class="work__categories-header work__categories-header2">game dev</h3>
        <h3 class="work__categories-header work__categories-header3">branding</h3>
        <h3 class="work__categories-header work__categories-header4">illustration</h3>
        <h3 class="work__categories-header work__categories-header5">photographer</h3>
      </div>

      <div class="work__items">
        <div class="work__item">
          <figure class="work__item-figure">
            <img src="../img/nice-doggo.jpg" alt="" class="work__item-img">
            <figcaption class="work__item-caption">
              Batman
            </figcaption>
          </figure>
        </div>
        <div class="work__item">
          <figure class="work__item-figure">
            <img src="../img/nice-doggo.jpg" alt="" class="work__item-img">
            <figcaption class="work__item-caption">
              Superman
            </figcaption>
          </figure>
        </div>
        <div class="work__item">
          <figure class="work__item-figure">
            <img src="../img/nice-doggo.jpg" alt="" class="work__item-img">
            <figcaption class="work__item-caption">
              Wonderwoman
            </figcaption>
          </figure>
        </div>
        <div class="work__item">
          <figure class="work__item-figure">
            <img src="../img/nice-doggo.jpg" alt="" class="work__item-img">
            <figcaption class="work__item-caption">
              Flash
            </figcaption>
          </figure>
        </div>
        <div class="work__item">
          <figure class="work__item-figure">
            <img src="../img/nice-doggo.jpg" alt="" class="work__item-img">
            <figcaption class="work__item-caption">
              Cyborg
            </figcaption>
          </figure>
        </div>
        <div class="work__item">
          <figure class="work__item-figure">
            <img src="../img/nice-doggo.jpg" alt="" class="work__item-img">
            <figcaption class="work__item-caption">
              Aquaman
            </figcaption>
          </figure>
        </div>
      </div>
    </section>
    <!--work section ending-->

    <!--client section beginning-->
    <section class="clients">
      <h3 class="clients__header">clients' testimonials</h3>
      <div class="clients__content">

        <div class="clients__content-item">
          <div class="clients__content-person">
            <h3 class="clients__content-person_name">
              Dean Winchester
            </h3>
            <h4 class="clients__content-person_title">Hunter, Supernatural</h4>
            <img src="../img/nice-doggo.jpg" alt="" class="clients__content-person_img">
          </div>
          <div class="clients__content-para">
            <p class="clients__content-paragraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero harum similique optio illo amet magni neque quia dignissimos.
              Provident porro iste distinctio excepturi quia molestias aliquid corporis nostrum, quas similique?
            </p>
          </div>
        </div>

        <div class="clients__content-item">
          <div class="clients__content-person">
            <h3 class="clients__content-person_name">
              Alucard
            </h3>
            <h4 class="clients__content-person_title">Vampire, Hellsing</h4>
            <img src="../img/nice-doggo.jpg" alt="" class="clients__content-person_img">
          </div>
          <div class="clients__content-para">
            <p class="clients__content-paragraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero harum similique optio illo amet magni neque quia dignissimos.
              Provident porro iste distinctio excepturi quia molestias aliquid corporis nostrum, quas similique?
            </p>
          </div>
        </div>
        <div class="clients__content-item">
          <div class="clients__content-person">
            <h3 class="clients__content-person_name">
              Dr Zombos
            </h3>
            <h4 class="clients__content-person_title">CEO, Zombie inc</h4>
            <img src="../img/nice-doggo.jpg" alt="" class="clients__content-person_img">
          </div>
          <div class="clients__content-para">
            <p class="clients__content-paragraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero harum similique optio illo amet magni neque quia dignissimos.
              Provident porro iste distinctio excepturi quia molestias aliquid corporis nostrum, quas similique?
            </p>
          </div>
        </div>

      </div>
    </section>
    <!--client section ending-->

    <!--blog section beginning-->
    <section class="blog">
      <h2 class="blog__header">latest posts</h2>
      <div class="blog__items">
        <div class="blog__item">
          <div class="blog__item-forimg">
            <img src="../img/nice-doggo.jpg" alt="" class="blog__item-img">
          </div>
          <div class="blog__item-text">
            <h2 class="blog__item-header">This is a blog post</h2>
            <h3 class="blog__item-category">Fashion</h3>
            <div class="blog__item-fordate">
              <p class="blog__item-date">19 July 2018</p>
            </div>
            <p class="blog__item-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid exercitationem adipisci odio qui accusamus
              ullam, totam incidunt earum vitae. Perferendis totam dicta quos voluptates, cupiditate enim repellat non velit
              culpa.
            </p>
            <figcaption class="blog__item-readmore">
              Read More...
            </figcaption>
          </div>
        </div>

        <div class="blog__item">
          <div class="blog__item-forimg">
            <img src="../img/nice-doggo.jpg" alt="" class="blog__item-img">
          </div>
          <div class="blog__item-text">
            <h2 class="blog__item-header">This is a blog post</h2>
            <h3 class="blog__item-category">Fashion</h3>
            <div class="blog__item-fordate">
              <p class="blog__item-date">19 July 2018</p>
            </div>
            <p class="blog__item-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid exercitationem adipisci odio qui accusamus
              ullam, totam incidunt earum vitae. Perferendis totam dicta quos voluptates, cupiditate enim repellat non velit
              culpa.
            </p>
            <figcaption class="blog__item-readmore">
              Read More...
            </figcaption>
          </div>
        </div>

        <div class="blog__item">
          <div class="blog__item-forimg">
            <img src="../img/nice-doggo.jpg" alt="" class="blog__item-img">
          </div>
          <div class="blog__item-text">
            <h2 class="blog__item-header">This is a blog post</h2>
            <h3 class="blog__item-category">Fashion</h3>
            <div class="blog__item-fordate">
              <p class="blog__item-date">19 July 2018</p>
            </div>
            <p class="blog__item-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid exercitationem adipisci odio qui accusamus
              ullam, totam incidunt earum vitae. Perferendis totam dicta quos voluptates, cupiditate enim repellat non velit
              culpa.
            </p>
            <figcaption class="blog__item-readmore">
              Read More...
            </figcaption>
          </div>
        </div>
      </div>
    </section>
    <!--blog section ending-->

    <!--contact section beginning-->
    <section class="contact">
      <h1 class="contact__header">Contact me</h1>
      <div class="contact__form">
        <form action="#" class="contact__form-content">
          <div class="contact__form-group">
            <input type="text" class="contact__form-input" placeholder="Full Name" id="fullname" required>
            <label for="fullname" class="contact__form-label">Full name</label>
          </div>
          <div class="contact__form-group">
            <input type="email" class="contact__form-input" placeholder="Email" id="email" required>
            <label for="email" class="contact__form-label">Email</label>
          </div>
          <div class="contact__form-group">
            <button class="contact__form-btn" id="contact__form-btn">send</button>
          </div>
        </form>
      </div>
    </section>
    <!--contact section end-->

  </div>
</body>

</html>