$primary-black: #17202A;
$primary-blue: #5C6BC0;
$primary-whitish: #D1C4E9;
$primary-color-about: #7D3C98;
$primary-color-services: #CC00CC;
$primary-color-education: #85C1E9;
$primary-color-work: #9C27B0;
$primary-color-work2: #CD5C5C;
$primary-color-client: #17202A;
$primary-color-client1: #C2185B;
$primary-color-client2: #6666FF;
$primary-color-blog: #85929E;
$primary-color-blog-item: #D7DC06;
$primary-color-contact: #9999FF;
$font-primary: 'Nunito',
sans-serif;
$white: #fff;
$black: #000;
$grey: #F2F3F4;
$mast-blue: #7E57C2;
$blue: blue;